<nav class="flex py-4 px-6 bg-blue-900">
  <div class="flex-grow"></div>  <!-- Este div ocupa todo el espacio -->
  <button class="px-4 py-2 text-sm font-medium text-white bg-red-500 rounded-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500" (click)="logout()">
    Cerrar sesión
  </button>
</nav>

<div class="min-h-screen p-6">
  <div class="max-w-4xl mx-auto p-6 rounded-lg shadow-md">
    <div class="flex flex-col sm:flex-row sm:justify-between mb-4">
      <h1 class="text-2xl font-bold text-gray-900 mb-4">Lista de Tareas</h1> 
        <button class="px-4 py-2 text-sm font-medium text-blue-600 bg-sky-100 rounded-md hover:bg-sky-50
        focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-50 transition duration-300" (click)="openModal()">+ Agregar Tarea</button>
    </div>
    <h2 class="text-red-500" *ngIf="taskList.length===0">No tenés tareas creadas</h2>
    <ul class="space-y-4">
      <li *ngFor="let task of taskList; index as i; first as isFirst" class="flex flex-col flex-wrap gap-4 sm:flex-row">
        <button
            (click)="toggleComplete(task)"
          >
            <img *ngIf="task.status == false" src="assets/checkbox-unchecked.png" class="w-8 h-8"/>
            <img *ngIf="task.status == true" src="assets/checkbox-checked.png" class="w-8 h-8"/>
          </button>
        <div>
          <span class="text-lg font-semibold text-gray-800" [ngClass]="{'line-through': task.completed}">{{i+1}}. {{task.title}}</span>
          <p class="text-gray-600" [ngClass]="{'line-through': task.completed}">{{task.description}}</p>
          <small>Creado: <span>{{task.date | date:'medium'}}</span></small><br/>
        </div>
        <div class="flex flex-row gap-4 items-center justify-center sm:ml-auto">
          <button class="w-8 h-8" (click)="openEditModal(task)"><img src="assets/edit.png" alt="edit"/></button>
          <button class="w-8 h-8" (click)="deleteTask(task.id)"><img src="assets/delete.png" alt="delete"/></button>
        </div>
        <div class="border-b border-gray-200 mt-4 w-full last:basis-full"></div>
      </li>
    </ul>

    
  </div>
</div>

<app-create-task *ngIf="isModalOpen" (close)="closeModal()"></app-create-task>
<app-edit-task *ngIf="isEditModalOpen" [task]="selectedTask" (closeEvent)="closeEditModal()" (updateEvent)="closeEditModal()"></app-edit-task>
